body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;

}

li {
    margin-left: 18px;
}

.slogan {
    color: #fff;
    font-weight: bolder;
    font-size:x-large;
}

.text {
    color: #fff;
    font-size: normal;
}
.header {
    background-color: #1f2937;
    /* replace below color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 96px;
    padding-right: 96px;
}

.headerlogo {
    flex: 1;
    font-weight: bold;
}

.headlinks{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: row; /* This will make the elements flow horizontally */
    justify-content: center; /* This will push the elements to the left and right edges */
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding:  20px;

  }
  
  .hero-left {
    flex: 1; /* This will make it take up available space on the left */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 8px;
  }
  
  .hero-photo {
    max-height: 300px; /* Set your desired maximum height */
    overflow: hidden; /* Hide the overflowed content */
    position: relative; /* Establish positioning context */
  
    /* Center the image horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: 8px 6px 8px rgb(255, 255, 255, 0.1); /* Adjust the values as needed */
  }

section {
    padding: 40px;
    text-align: center;
}
footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px;
}