body {
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: none;

}

li {
    margin-left: 18px;
    color: #e5e7eb;
    font-size: 18px;
}

img {
    transition: box-shadow 0.3s ease-in-out;
    /* Define the default box-shadow here if needed */
}

@keyframes scale {
    0%, 100% {
        transform: rotate(-.5deg);
        box-shadow: 10px 16px 42px rgba(255, 255, 255, 0.171);
        transform: scale(1.0);
    }
    50% {
        transform: rotate(.5deg);
        box-shadow: 10px 16px 42px rgba(255, 255, 255, 0.171);
        transform: scale(1.025);
    }
}

@keyframes button-wiggle {
    0%, 100% {
        transform: rotate(-1.5deg);
        box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.171);
    }
    50% {
        transform: rotate(1.5deg);
        box-shadow: 2px 2px 1px rgba(255, 255, 255, 0.171);
    }
}

img:hover {
    animation: scale 2.5s ease-in-out infinite;
}


button, .cta {
    background-color: #3882f6;
    color:#e5e7eb;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 12px;
    border-radius: 10px;
    border-color: #3882f6;
    font-weight: bolder;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #639cf8;
    border-color: #639cf8;
    cursor:pointer;
    animation: button-wiggle .5s ease-in-out infinite;
    
}
.slogan {
    color: #f9faf8;
    font-weight:bolder;
    font-size: 48px;
}

.text {
    color: #e5e7eb;
    font-size: 18px;
    padding-top: 12px;
    padding-right: 100px
}

.header {
    background-color: #1f2937;
    /* replace below color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 400px;
    padding-right: 400px;
}

.headerlogo {
    flex: 1;
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.headlinks{
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.hero-container {
    background-color: #1f2937;
    display: flex;
    flex-direction: row; /* This will make the elements flow horizontally */
    justify-content: center; /* This will push the elements to the left and right edges */
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding-top: 72px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 72px;
  }
  
  .hero-left {
    flex: 1; /* This will make it take up available space on the left */
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 69px;
  }
  
  .hero-photo {
    max-height: 300px; /* Set your desired maximum height */
    overflow: hidden; /* Hide the overflowed content */
    position: relative; /* Establish positioning context */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    box-shadow: 10px 16px 42px rgba(255, 255, 255, 0.171); /* Adjust the values as needed */
  }

.quote-container {
    background-color: #E5E7EB;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.section-about {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    padding-top: 36px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 72px;
}
    .section-title {
        font-size: 36px;
        font-weight: bolder;
        color: #1F2937;
        display: flex;
        flex: 1;
        justify-content: center;

    }

    .section-content {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-items: center;
        padding-top: 36px;
    }
        .section-container {
            display: flex;
            justify-content: center;
            align-items: center;
            align-items: center;
            align-content: center;
        
        }
            .box-text {
                display: flex;
                justify-content: center;
                align-items: center;
                align-items: center;
                align-content: center;
                align-self: center;
                text-align: center;
                padding: 16px;
                
            }

            .box-img {
                max-height: 200px; /* Set your desired maximum height */
                max-width: 200px;
                overflow: hidden; /* Hide the overflowed content */
                position: relative; /* Establish positioning context */
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                align-self: center;
                border-color: #3882f6;
                border-style: solid;
                border-width: thick;
                border-radius: 24px;
                
            }

footer {
    background-color: #1f2937;
    color: #fff;
    text-align: center;
    padding: 20px;
}